@charset "utf-8";
/* CSS Document */
body
{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	box-sizing: border-box;
	background: #6791A7;
}

.post
{
	width: 400px;
	height: 150px;
	background: linear-gradient(90deg, transparent, rgba(51, 51, 51, 0.5) , transparent) -100% 0/140px 200% no-repeat,
				linear-gradient(90deg, #F2F2F2, #F2F2F2) 20px 20px/100px 100px no-repeat,
				linear-gradient(90deg, #F2F2F2, #F2F2F2) 140px 35px/55% 15px no-repeat,
				linear-gradient(90deg, #F2F2F2, #F2F2F2) 140px 60px/40% 15px no-repeat,
				linear-gradient(90deg, #F2F2F2, #F2F2F2) 140px 75%/50px 8px no-repeat;
	animation: shine 1.2s ease-in-out infinite;
}

@keyframes shine
{
	100%
	{
		background-position: 150% 0,
		20px 20px,
		140px 35px,
		140px 60px,
		140px 75%;
	}
}